<mat-dialog-content class="mat-typography modal">
  <div class="row">
    <img
      *ngIf="animeThemeFetched"
      [src]="anilistFetched.coverImage.large"
      alt="Cover image"
    />
    <div>
      <h1>{{ data.songInfo.anime }}</h1>
      <p><b>Song name:</b> {{ data.songInfo.songName }}</p>
      <p><b>Artist:</b> {{ data.songInfo.artist }}</p>
      <p><b>Type:</b> {{ data.songInfo.fullType }}</p>
      <p><b>Season:</b> {{ data.songInfo.vintage }}</p>
      <p *ngIf="animeNotFound">
        <b>Anime not found in AnimeTheme database so no music.</b>
      </p>
      <button (click)="play()" class="button">stop start</button>
      <input
        type="range"
        min="0"
        max="100"
        value="100"
        class="slider"
        id="myRange"
        (input)="changeVolume($event)"
      />
    </div>
  </div>
  <div *ngIf="this.data.videoUrl">
    <video controls>
      <source [src]="this.data.videoUrl" />
    </video>
  </div>
  <div *ngIf="this.themeLoaded">
    <video id="video" (loadedmetadata)="onVideoLoaded()" controls>
      <source
        [src]="this.clickedAnimeTheme.animethemeentries[0].videos[0].link"
      />
    </video>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
