pre {
  background-color: #ffffcc;
  border: 1px dashed #ff6666;
  padding-top: 0.518vw;
  padding-bottom: 0.585vw;
  padding-left: 0.732vw;
  margin: 0.732vw;
  float: left;
  padding-right: 0.732vw;
  clear: both;
  width: 30vwq;
}
