table {
  width: 95vw;
}

.mat-column-songNumber {
  width: 2%;
}
.mat-column-artist {
  width: 25%;
}
.mat-column-songName {
  width: 25%;
}
.mat-column-anime {
  width: 30%;
}
.mat-column-vintage {
  width: 15%;
}
.mat-column-fullType {
  width: 3%;
}
